.btn{
    background-color: $violet-primary;
    padding: .5rem 2rem .5rem 2rem;
    border-radius: 2rem;
    border: none;
    color: $white;
    cursor: pointer;
}
.btn a{
    // background-color: $violet-primary;
    // color: $white;
    // padding: 1rem 2rem 1rem 2rem;
    // height: 2rem;
    // display: inline-block;
    cursor: pointer;
    border: 1px solid $blue;
   
  

    border-radius: $border-radius;

    // transition: background-color .2s ease-in-out, border .2s ease-in-out, color .2s ease-in-out;

    &:hover {
        color: $violet-primary;
        background-color: $white;
        border-color: $violet-primary;
    }

    &--small {
        padding: 12px 25px;
    }
  
}

.btn-menu {
    display: inline-block;
    cursor: pointer;
    z-index: 10;
    border: none;
    background-color: transparent;

    &:hover {
        svg, path {
            stroke: $violet-primary;
        }
    }

    @include medium-up {
        display: none;
    }
}

.btn-oferta{
    display: block;
    width: 15rem;
    height: 2rem;
    // background-color: pink;
    margin-top: 2rem;
}